/*TODO any import specify the file name without the extension. For example: @import "temp-backend-devs";*/
/* ------------------------------------ 
	LESS VARIABLES
--------------------------------------- */
@color-text: #555555;
@color-link: #0088CC;
@color-border: #dcd7d7;
@color-logo: #207788;
@font: 12px normal arial, sans-serif;

@login-form-width: 500px;
@login-form-height: 200px;



/* ------------------------------------ 
	LESS MIXINS
--------------------------------------- */
.rounded-corners (@radius: 4px) {
	border-radius: 			@radius;
	-webkit-border-radius: 	@radius;
	-moz-border-radius: 	@radius;
}
.box-shadow (@string: 1px 1px 0 rgba(155, 155, 155, 0.4) ) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}


/* ------------------------------------ 
	CSS CLASSES
--------------------------------------- */

body
{
    margin:0;
    padding:0;
    background-color:#CCC;
    font:12px Arial;
}
.container
{
    width:1200px;
    overflow:hidden;
    margin:0 auto;
    background-color:#c3c536;
    min-height:800px;
}
.top-container
{
    width:1200px;
    height:394px;
    background:url(img/top-bg-1.png) no-repeat;
}
.search
{
    position:relative;
    left:330px;
    top:210px;
    cursor:pointer;
}