/*TODO any import specify the file name without the extension. For example: @import "temp-backend-devs";*/
/* ------------------------------------ 
	LESS VARIABLES
--------------------------------------- */
@color-text: #555555;
@color-link: #0088CC;
@color-border: #dcd7d7;
@color-logo: #207788;
@font: 12px normal arial, sans-serif;

@login-form-width: 500px;
@login-form-height: 200px;



/* ------------------------------------ 
	LESS MIXINS
--------------------------------------- */
.rounded-corners (@radius: 4px) {
	border-radius: 			@radius;
	-webkit-border-radius: 	@radius;
	-moz-border-radius: 	@radius;
}
.box-shadow (@string: 0 1px 8px 1px rgba(0, 0, 0, 0.6) ) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.word-break{
    overflow: hidden; 
    word-wrap: normal; 
    word-break: normal; 
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap; 
    white-space: pre-wrap;
    white-space: pre-line; 
    white-space: nowrap;
    text-overflow:ellipsis;
}

/* ------------------------------------ 
	CSS CLASSES
--------------------------------------- */

body
{
    margin:0;
    padding:0;
    background-color:#f1eedb;
}
body, span, div, input
{
    font:12px Arial;
}
input
{
    border:0;
}
a
{
    text-decoration:none;
}
.container
{
    width:1200px;
    overflow:hidden;
    margin:0 auto;
    background-color:#c3c536;
    min-height:1200px;
    margin-bottom:30px;
}
.top-container
{
    width:1200px;
    height:394px;
    background:url(img/top-bg-1.png) no-repeat;
}
.fb
{
    position:relative;
    left:1000px;
    top:40px;
    color:#FFFFFF;
}
.top-container .login-input
{
    background:url(img/input-bg.png) repeat-x;
    
}
.top-container .login-input, .submit
{
    font-size: 10px;
    height:20px;
}
.items
{
    float:left; 
    background-color:#e6e65c; 
    min-height:40px; 
    height:auto;
    width:150px;
    margin:10px;
    padding:4px;
    color:#0c434e;
    -moz-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.3) inset;
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.3) inset;
}
.items.last
{
    box-shadow:none !important;
    float:left; 
    background-color:none !important; 
    width:40px !important;
    min-height:0px; 
    height:0px !important;
    margin:10px;
    padding:0 !important;
    color:none !important;
}
.items.last img
{
    cursor:pointer;
}
.inner{
	width:100%; 
	background:url("img/inner-bg.png") repeat-x; 
	padding:0; 
	overflow:hidden;	
    height:37px;
}
.inner-left{
	float:left; 
	padding-left:10px;
    padding-top:10px;
    font-size:14px;
    max-width:1050px;
    .word-break;
}
.inner-left .title
{
    font-weight:bold;
}

.inner-right{
	float:right; 
	padding-right:10px;
}
.click-to-open{
	height:21px; 
	padding-top:10px; 
    padding-right:6px; 
	float:left;
	cursor:pointer;
    color:#0c434e;
    font-size:14px;
}
.inner-menu{
	width:100%;
	min-height:75px;
    height:auto;
    overflow:hidden;
	background: url("img/pattern-bg.png") repeat;	
	display:none;
	.box-shadow;
}
.inner-menu .items .desc
{
    float:left; 
    max-width:120px;
}
.inner-menu .items .img
{
    float: right;
    text-align: center;
}
.inner-menu .items .img img:hover
{
    cursor:pointer;
}
.inner-menu .group
{
    color:#557300;
    font-weight:bold;
}
.inner-menu .child-li
{
    height:auto;
    overflow:auto;
    max-height:200px;
}
.inner-menu .child
{
    padding-left:10px;
}
.inner-menu .child:last-child
{
    padding-bottom:20px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    float: left;
    z-index:9999;
}
li ul {
    display: none;
}
ul li img {
    display: block;
    margin-left: 1px;
    white-space: nowrap;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    background-color:#E6E65C;
    padding:0 20px;
    height:60px;
}
li:hover li:first-child
{
    padding-top:10px;
}
li:hover li:last-child
{
    padding-bottom:10px;
}